.App {
  position: relative;
  background-color: #35524a;
  height: 100vh;
}

.center {
  position: absolute;
  background-color: #a2e8dd;
  height: 75%;
  width: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
}
.center-divider {
  position: absolute;
  background-color: #35524a;
  width: 1px;
  height: 70vh;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.left-container {
  height: 100%;
  width: 50%;
  position: relative;
}
.left-element {
  background-color: #627c85;
  position: absolute;
  height: 90%;
  width: 90%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 2%;
}
.display-container {
  position: relative;
  height: 25%;
  width: 100%;
}
.display-result {
  position: absolute;
  background-color: white;
  height: 80%;
  width: 90%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 5%;
}
#result {
  position: absolute;
  bottom: 10px;
  right: 10px;
  left: 10px;
  text-align: right;
  font-size: 30px;
}
#sum{
  display: block;
  position: absolute;
  bottom: 10px;
  right: 10px;
  left: 10px;
  text-align: right;
  font-size: 30px;
}
.button-container {
  position: absolute;
  height: 75%;
  width: 100%;
  bottom: 0;
}
.button-operation {
  height: 20%;
  width: 100%;
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1fr;
}
.button-one-to-nine {
  height: 60%;
  width: 75%;
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1fr;
}
.button-zero-point {
  height: 20%;
  width: 75%;
  display: -ms-grid;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 1fr;
}
.button-clear-equal {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 80%;
  width: 25%;
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 1fr;
}
.button {
  border-radius: 5px;
  font-size: large;
  font-weight: bolder;
  cursor: pointer;
}
.button:hover {
  background-color: lightgrey;
  transition: 0.3s ease-in-out;
}
.right-container {
  height: 100%;
  width: 50%;
  position: relative;
  transform: translate(100%, -100%)
}
.display-history-result-container{
  position: relative;
  height: 90%;
  width: 90%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border-radius: 10px;
  border: 1px solid black;
}
